//  colors named by "name-that-color"  npm module
$color-white: #fff;
$color-zeus: #241c18;
$color-ebb-1: #e4dddb;
$color-ebb-2: #f3f1f0;
$color-ebb-3 : #eae5e3;
$color-sand-dune: #826b60;
$color-pampas: #f2efed;
$color-alabaster: #f8f8f8;
$color-silver-rust : #cbc2bd;
$color-almond-frost:#907c72;

$color-bronco: #ab9c95;

// font-families
$family-oswaldbold: oswaldbold, Helvetica, Verdana, sans-serif;
$family-oswaldlight: oswaldlight, Helvetice, Verdana, sans-serif;
$family-oswaldregular: oswaldregular, Helvetica, Verdana, sans-serif;
$family-lora: lora, "Lucida Bright", Georgia, serif;
$family-lorabold: lorabold, "Lucida Bright", Georgia, serif;
$family-loraitalic: loraitalic, "Lucida Bright", Georgia, serif;
