.contacts {
  background: url("../img/instruments.jpg") no-repeat;

  .container {
    min-height: 960px;
  }

  &__content {
    text-align: center;
  }

  &__title {
    margin-top: 160px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: $family-oswaldbold;
    @include font(80px, 100px);
    letter-spacing: 4px;
    padding-right: 10px;
  }

  &__phone {
    box-sizing: border-box;
    margin-bottom: 38px;
    padding: 0 65px 30px 65px;
    background: url("../img/dotted-line-light.png") repeat-x;
    background-position: bottom 0 left 0;
    color: $color-ebb-1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: $family-oswaldbold;
    @include block-align("inline-block", "top");
    @include font(72px, 78px);
    letter-spacing: 4px;
  }

  &__subscribe {
    font-size: 0;
    font-family: $family-oswaldbold;
  }

  &__email-submit {
    padding-right: 30px;
    padding-left: 30px;
    border: none;
    background: $color-zeus;
    color: $color-ebb-1;
    text-transform: uppercase;
    @include font(36px, 55px);
    @include block-align("inline-block", "bottom");
  }

  &__email-wrapper {
    border: 5px solid $color-zeus;
    @include block-align("inline-block", "bottom");
  }

  &__email {
    display: block;
    padding-left: 10px;
    border: none;
    background: none;
    @include font(36px, 46px);
  }
  &__footer {
    margin-top: 360px;
    padding-bottom: 70px;
    @include clearfix();
  }

  &__copyright {
    float: left;
    margin-top: 35px;
    color: $color-ebb-1;
    font-family: $family-lorabold;
    @include font(18px, 18px);
    text-transform: uppercase;
  }

  &__menu {
    float: right;
    margin-top: 0 !important;
    white-space: nowrap;
    a {
      padding-bottom: 0;
      color: $color-ebb-1;
    }
  }

  &__socials {
    @include block-align("inline-block", "bottom");
  }

  &__yt,
  &__fb {
    width: 80px;
    height: 60px;
    @include block-align("inline-block", "bottom");
  }

  &__yt {
    background: url("../img/icons/icon-youtube.svg") ;
    background-position: 0 0;
    background-size: 100% 100%;
  }

  &__fb {
    background: url("../img/icons/icon-fb.svg") no-repeat;
  }
}
