.menu {
  margin-top: 44px;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
  }

  &__link {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 30px 14px;
    color: $color-zeus;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $family-lora;
    @include font(18px, 24px);

    &::before {
      content: "";
      position: absolute;
      top: 2.15em;
      left: -0.15em;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $color-sand-dune;
    }
  }

  &__equalizer {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 84px;
    height: 18px;
  }

  &__item:first-child .menu__link {
    padding-left: 0;

    &::before {
      display: none;
    }
  }
}

@media (max-width: 1270px) {
  .menu {


    &__link {
      color: $color-ebb-1;
    }
  }
}

@media (max-width: 630px) {
  .menu {


    &__item {
      display: block;
    }

    &__link {
      padding-left: 0;
    }
  }
}
