.orders {
  overflow-y: scroll;
  width: 83%;
  height: 280px;
  margin: 430px auto 110px;
  padding-left: 110px;

  &__mobile-splitter {
    display: none;
  }

  &__list {
    margin: 0;
    padding: 0;
    padding-right: 100px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    list-style: none;
  }

  &__item {
    display: table;
    width: 100%;
    padding: 18px 0;
    background: url("./../img/dotted-line.png") repeat-x;
    background-position: bottom 0 left 0;
  }

  &__time,
  &__place,
  &__buy {
    display: table-cell;
    text-align: center;
    white-space: nowrap;
  }

  &__time {
    width: 2em;
    border-right: 6px solid $color-ebb-1;
    font-family: $family-oswaldbold;
    span {
      @include block-align("inline-block", "center");
    }
  }

  &__day {
    width: 55px;
    text-align: left;
    @include font(50px, 70px);
  }

  &__month-year {
    padding-right: 15px;
    text-transform: uppercase;
    @include font(23px, 23px);
  }

  &__buy {
    display: block;
    width: 4em;
    margin-right: 14px;
    padding: 10px 25px;
    background: $color-sand-dune;
    color: $color-alabaster;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $family-oswaldregular;
    @include font(18px, 20px);

    &:hover {
      background: $color-ebb-1;
      color: $color-sand-dune;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__place {
    width: 100%;
    padding-left: 20px;
    text-align: left;
    text-transform: capitalize;
    font-family: $family-oswaldlight;
    @include font(30px, 50px);
  }

}

@media (max-width: 1250px) {
  .orders {
    width: 95%;
    padding-left: 0;

    &__list {
      padding-right: 10px;
    }
  }
}

@media (max-width: 1000px) {
  .orders {
    overflow-y: auto;
    height: 100%;
    margin-top: 400px;

    &__day {
      @include font(30px, 40px);
    }

    &__month-year {
      @include font(15px, 20px);
    }

    &__place {
      @include font(24px, 30px);
    }

    &__buy {
      margin-right: 0;
      padding: 6px 12px 6px 5px;
      @include font(16px, 18px);
    }
  }
}

@media (max-width: 700px) {
  .orders {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    margin-top: 400px;
    margin-bottom: 50px;

    &__time {
      vertical-align: middle;
    }

    &__mobile-splitter {
      display: block;
    }
    &__day {
      width: 30px;
    }

  }
}

@media (max-width: 435px) {
  .orders {

    &__list {
      padding-right: 0;
    }
    &__place {
      padding-left: 5px;
      @include font(14px, 20px);
    }

    &__month-year {
      padding-right: 5px;
    }

    &__buy {
      @include font(14px, 20px);
    }
  }
}