.player {
  float: right;
  box-sizing: border-box;
  width: 50%;
  padding-top: 108px;
  padding-left: 106px;
  &__song-info {
    margin-top: 0;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__current-album {
    margin-top: 10px;
    margin-bottom: 12px;
    font-family: $family-oswaldlight;
    @include font(30px, 40px);
  }

  &__current-song {
    color: $color-sand-dune;
    font-family: $family-loraitalic;
    @include font(18px, 18px);
  }

  &__current-number {
    font-family: $family-loraitalic;
  }

  &__controls {
    min-height: 240px;
    width: 100%;
    position: relative;
  }

  &__songs {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__album-title {
    margin-top: 0;
    margin-bottom: 23px;
  }

  &__song-link {
    display: table;
    width: 100%;
    padding: 5px 0;
    text-decoration: none;
    @include font(18px, 18px);

    span {
      display: table-cell;
      color: $color-sand-dune;
      font-family: $family-loraitalic;
    }
  }

  &__icon-play {
    height: 20px;
    padding-left: 33px;
    background: url("./../img/icons/icon-play.svg") no-repeat;
    opacity: 0.3;
  }

  &__song-number {
    padding-right: 3px;
  }

  &__song-title {
    padding-right: 30px;
    white-space: nowrap
  }

  &__song-dots {
    width: 100%;
    background: url("./../img/dotted-line.png") repeat-x;
    background-position: bottom 4px left 0;
  }

  &__song-duration {
    padding-left: 30px;
    text-align: right;
  }

  &__song-link--active .player__icon-play {
    opacity: 1;
  }


  &__rewind {
    position: absolute;
    top: 40px;
    left: 150px;
    width: 80px;
    height: 50px;
    background: url("../img/icons/icon-rewind.svg") no-repeat;
  }

  &__pause {
    position: absolute;
    top: 35px;
    left: 305px;
    width: 80px;
    height: 50px;
    background: url("../img/icons/icon-pause.svg") no-repeat;
  }

  &__forward {
    position: absolute;
    top: 40px;
    left: 425px;
    width: 80px;
    height: 50px;
    background: url("../img/icons/icon-forward.svg") no-repeat;
  }

  &__progress-future {
    position: absolute;
    top: 120px;
    left: 0px;
    width: 100%;
    height: 7px;
    background: $color-bronco;
    border-radius: 4px;
  }

  &__progress-past {
    position: absolute;
    top: 120px;
    left: 0px;
    width: 50%;
    height: 7px;
    background: $color-ebb-1;
    z-index: 10;
    border-radius: 4px;
  }

  &__progress-current {
    position: absolute;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    top: 106px;
    left: calc(50% - 17px);
    background: $color-bronco;
    z-index: 20;
  }
}