.player {
  float: right;
  box-sizing: border-box;
  width: 50%;
  padding-top: 108px;
  padding-left: 6.5%;
  &__song-info {
    margin-top: 0;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__current-album {
    margin-top: 10px;
    margin-bottom: 12px;
    font-family: $family-oswaldlight;
    @include font(30px, 40px);
  }

  &__current-song {
    color: $color-sand-dune;
    font-family: $family-loraitalic;
    @include font(18px, 18px);
  }

  &__current-number {
    font-family: $family-loraitalic;
  }

  &__current-time,
  &__current-duration {
    width: 35px;
    display: inline-block;
  }


  &__current-title {
    margin-right: 20px;
  }
  &__controls {
    position: relative;
    min-height: 240px;
    width: 100%;
  }

  &__songs {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__album-title {
    margin-top: 0;
    margin-bottom: 23px;
  }




  &__song-link {
    display: table;
    width: 100%;
    padding: 5px 0;
    text-decoration: none;
    @include font(18px, 18px);

    span {
      display: table-cell;
      color: $color-sand-dune;
      font-family: $family-loraitalic;
    }

    &:hover span{
      color: #c6caaf;
    }
  }

  &__song-src {
    margin-left: -12px;
  }

  &__icon-play {
    height: 20px;
    padding-left: 33px;
    background: url("./../img/icons/icon-play.svg") no-repeat;
    opacity: 0.3;

    &--no-js {
      padding: 0;
    }

    &--active {
      opacity: 1;
    }

  }

  &__song-number {
    padding-right: 3px;
  }

  &__song-title {
    padding-right: 30px;
    white-space: nowrap
  }

  &__song-dots {
    width: 100%;
    background: url("./../img/dotted-line.png") repeat-x;
    background-position: bottom 4px left 0;
  }

  &__song-duration {
    padding-left: 30px;
    text-align: right;
  }

  &__rewind {
    position: absolute;
    top: 40px;
    left: 22%;
    width: 80px;
    height: 50px;
    background: url("../img/icons/icon-rewind.svg") no-repeat;
    cursor: pointer;
  }

  &__pause {
    position: absolute;
    top: 35px;
    left: 46%;
    width: 80px;
    height: 50px;
    background: url("../img/icons/icon-pause.svg") no-repeat;
    cursor: pointer;
  }

  &__play {
    position: absolute;
    top: 35px;
    left: 43%;
    width: 80px;
    height: 50px;
    background: url("../img/icons/icon-play.svg") no-repeat;
    background-size: 40px 50px;
    background-position: 20px center;
    opacity: 0.3;
    cursor: pointer;
  }

  &__forward {
    position: absolute;
    top: 40px;
    left: 64%;
    width: 80px;
    height: 50px;
    background: url("../img/icons/icon-forward.svg") no-repeat;
    cursor: pointer;
  }

  &__progress-future {
    position: absolute;
    top: 120px;
    left: 0px;
    width: 100%;
    height: 7px;
    border-radius: 4px;
    background: $color-bronco;
    cursor: pointer;
  }

  &__progress-past {
    position: absolute;
    top: 120px;
    left: 0px;
    z-index: 10;
    width: 50%;
    height: 7px;
    border-radius: 4px;
    background: $color-ebb-1;
    cursor: pointer;
    //transition: all 0.1s;
  }

  &__progress-current {
    position: absolute;
    top: 106px;
    left: calc(50% - 17px);
    z-index: 20;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: $color-bronco;
    cursor: pointer;
    //transition: all 0.1s;
  }

  &__speed-up,
  &__speed-down {
    cursor: pointer;
    position: absolute;
    font-size: 1.5em;
    top: 2px;
    font-weight: bold;
    padding: 10px;
  }

  &__options {
    position: absolute;
    width: 200px;
    height: 3em;
    background: url("../img/icons/icon-options.svg") no-repeat;
    background-size: 2em 2em;
    top: 150px;
    left: 0px;
    text-align: center;
    vertical-align: middle;
  }

  &__options > * {
    display: none;
  }

  &__options:hover {
    border-radius: 1em;
    background: $color-silver-rust;
  }

  &__options:hover > * {
    @include block-align("inline-block", "bottom");
  }

  &__speed-text,
  &__speed-val {
    padding: 15px 0 10px 0;
    font-family: $family-lora;
    color: $color-zeus;
  }

  &__speed-up {
    right: 15px;
  }

  &__speed-down {
    left: 15px;
  }


}

@media (max-width: 1150px) {

  .player {
    width: 100%;
    padding-top: 20px;
    padding-left: 0;

    &__controls {
      min-height: 160px;
    }

  }
}

@media (max-width: 550px) {
  .player {

    &__rewind {
      left: 12%;
      width: 40px;
      height: 25px;
      background-size: 40px 25px;
    }

    &__pause {
      top: 40px;
      left: 43%;
      width: 40px;
      height: 25px;
      background-size: 40px 40px;
    }

    &__play {
      top: 40px;
      left: 45%;
      width: 40px;
      height: 30px;
      background-size: 40px 30px;
    }

    &__forward {
      position: absolute;
      top: 40px;
      left: 74%;
      width: 40px;
      height: 25px;
      background-size: 40px 25px;
    }

    &__song-link {
      table-layout: fixed;
    }

    &__icon-play {
      width: 1px;
    }

    &__song-number {
      width: 20px;
    }

    &__song-title {
      width: 1px;
    }

    &__song-dots {
      width: 1px;
    }

  }
}

@media (max-width: 400px) {
  .player {

    &__song {
      margin-bottom: 10px;
    }
    &__song-title {
      width: auto;
      padding-right: 2px;
      white-space: pre-wrap;
    }

    &__song-duration {
      width: 35px;
      padding-left: 0;
    }

  }

}