.tours {
  background: $color-ebb-2;
  .container {
    position: relative;
    min-height: 934px;
    padding-top: 26px;
  }

  &__title {
    margin-bottom: 25px;
    text-align: center;
  }
}

@media (max-width: 1250px) {
  .tours {
    &__title {
      margin-top: 0;
    }
  }
}